<h1>
  A request has been received to change the password for your Doji account.
</h1>
<p>
  If you did not request this change, please ignore this email.
</p>
<p>
  To reset your password, please click the link below.
</p>
<p>
  <a href='https://{{domain}}/auth/reset-password/{{token}}'>Reset Password</a>
</p>